<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <ul>
          <a href="https://t.me/etkr4k">
          <img src="https://etkr4k.github.io/assets/my-icon/telegram-96.svg" width="50" height="50" width="50">
        </a>
        <a href="https://www.reddit.com/user/etkr4k">
          <img src="https://etkr4k.github.io/assets/my-icon/reddit-96.svg" width="60" height="60" width="60">
        </a>
        <a href="https://github.com/etkr4k">
          <img src="https://etkr4k.github.io/assets/my-icon/github-96.svg" width="50" height="50" width="50">
        </a>
      </ul>
      </div>
      
      
    </div>

    <!---
    <div class="social-links">
      {%- include social.html -%}
    </div>
  --->
   

  </div>

</footer>
